@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "variables.scss";
@import "dark-mode.scss";

body {
  color-scheme: light;
  font-family: "manrope", sans-serif;
  line-height: 1.6;
  background-color: var(--clr-bg-main);
  color: var(--clr-text-body);

  .text-lg {
    font-size: 1.125rem;
  }

  h1,
  h2,
  h3,
  h4,
  h6 {
    font-weight: 700;
    color: var(--clr-text-heading);
    line-height: 1.3;

    &h1 {
      font-size: 56px;
    }
  }

  p,
  li {
    font-size: 16px;
  }

  .transition {
    transition: 0.4s;
  }

  .btn-primary {
    background-color: var(--clr-primary);
    border: none;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--clr-primary);
      color: var(--clr-primary);
    }
  }

  .btn-border-none {
    border: none;
    background-color: transparent;
  }

  .header-wrapper {
    background-image: linear-gradient(
      var(--clr-bg-header-wrapper-ingredient-lighter),
      var(--clr-bg-header-wrapper-ingredient-darker)
    );

    nav {
      min-height: 70px;

      .container {
        display: block;
      }

      a {
        text-decoration: none;
        cursor: pointer;

        .logo {
          margin-right: 0.25rem;
        }

        .logo-text {
          font-weight: 700;
          font-size: 1.25rem;
          color: var(--clr-logo-text);
        }
      }

      .features-link {
        a {
          text-decoration: none;
          color: var(--clr-link);

          &:hover {
            color: var(--clr-primary);
          }
        }
      }

      .form-wrapper {
        align-items: center;
        justify-content: center;

        @media (min-width: $tablet-size) {
          width: 59%;
        }

        .form-label {
          margin-bottom: 0;
        }

        .form-switch {
          padding: 0;

          .form-check-input {
            padding: 0;
            --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            --bs-form-check-bg: gray;

            width: 2.9rem;
            height: 1.5rem;
            border: none;
            box-shadow: 0 8px 16px 0 rgba(99, 102, 241, 0.19),
              0 6px 20px 0 rgb(99, 102, 241, 0.19);

            cursor: pointer;

            @media (min-width: $tablet-size) {
              & {
                box-shadow: none;
              }
            }

            &:checked {
              background-color: var(--clr-primary);
            }
          }
        }
      }

      .navbar-toggle {
        cursor: pointer;
        color: var(--clr-link);

        button {
          border: none;

          &:focus,
          &:active {
            outline: none;
            box-shadow: none;
          }

          .navbar-toggler-icon {
            color: var(--toggle-icon-color);
          }
        }
      }

      .sign-btn {
        background-color: var(--clr-primary);
        border-color: transparent;
        color: var(--clr-white);
        border-radius: 5px;
        font-size: 14px;
        background-image: url("/assets/images/user-icon-white.svg");
        background-repeat: no-repeat;
        background-position: 1.5rem;
        min-height: 35px;
        padding-left: 2rem;
        background-position: 0.5rem;

        &:hover {
          color: var(--clr-primary);
          background-color: transparent;
          border: 1px solid var(--clr-primary);
          background-image: url("/assets/images/user-icon-perpule.svg");
        }
      }
    }

    .hero {
      a {
        background-color: var(--clr-bg-btn-dark);
        border: none;
        border-radius: 8px;
        min-height: 55px;

        &#appstore {
          min-height: 51px;
          padding: 0.5rem 1rem;

          @media (min-width: $tablet-size) {
            & {
              min-height: 43px;
            }
          }

          @media (min-width: $desktop-size) {
            & {
              min-height: 52px;
            }
          }
        }

        &#googleplay {
          min-height: 51px;
          padding: 0.5rem 1rem;

          @media (min-width: $tablet-size) {
            & {
              min-height: 55px;
            }
          }
        }
      }

      .discover-btn-wrapper {
        .accardion-btn {
          border: none;
          outline: none;
          padding: 1.25rem;
          border-radius: 50%;
          background-position: center;
          background-image: url(/assets/images/icons/chevron-dark.svg);
          background-repeat: no-repeat;
          transform: rotate(180deg);
          box-shadow: 0 5px 16px 5px rgba(226, 224, 226, 0.2),
            0 0 20px 1px rgba(120, 120, 120, 0.19);
          background-color: var(--clr-white);
          cursor: pointer;
        }

        .discover-more {
          font-size: 14px;
        }

        @media (min-width: $desktop-size) {
          padding-top: 10rem;
        }
      }

      @media (min-width: $tablet-size) {
        & {
          background-image: url("/assets/images/Group.svg");
          background-repeat: no-repeat;
          background-position: bottom right;
          background-size: 55%;
        }

        .app-img {
          width: 94px;
        }

        .google-img {
          width: 104px;
        }
      }

      @media (min-width: $tablet-landscape-size) {
        & {
          background-size: auto;
        }
      }

      @media (min-width: $desktop-size) {
        & {
          background-size: contain;
        }
      }
    }
  }

  #brands-section {
    .img-box {
      background-color: var(--clr-bg-light);

      @media (min-width: $tablet-size) {
        & {
          border: 1px solid var(--clr-border-gray);
          border-radius: 8px;
          min-height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 90%;
          }
        }
      }

      @media (min-width: $tablet-landscape-size) {
        & {
          img {
            width: 80%;
          }
        }
      }
    }
  }

  #app-features-section {
    .card-wrapper {
      margin-top: 1rem;

      img {
        border: solid 1px var(--clr-bg-secondry);
        background-color: var(--clr-bg-secondry);
        padding: 1rem;
        border-radius: 8px;
      }
    }
  }

  #how-work-section {
    background-color: var(--clr-bg-secondry);
    padding: 4rem 0;

    h2 {
      padding-bottom: 3rem;
    }

    img {
      @media (min-width: $tablet-size) {
        width: 100%;
        display: block;
        margin: auto;
      }

      @media (min-width: $desktop-size) {
        width: 80%;
      }
    }

    #how-work-info {
      padding-top: 3rem;

      @media (min-width: $tablet-size) {
        margin: auto 6rem;
      }

      @media (min-width: $desktop-size) {
        margin: auto 18rem;
      }
    }
  }

  #transfer-simple-receive {
    margin-top: 6rem;
    margin-bottom: 6rem;

    button {
      background-color: var(--clr-primary);
      color: var(--clr-white);
      border: 1px solid var(--clr-primary);
      border-radius: 8px;
      padding: 0 2rem;
      font-size: 14px;

      img {
        padding: 1rem;
      }

      &.learn-more-btn {
        background-position: right;
        background-image: url(/assets/images/arrow.svg);
        background-repeat: no-repeat;
        min-height: 44px;
        background-position: 7rem;

        &:hover {
          color: var(--clr-primary);
          background-color: transparent;
          border: 1px solid var(--clr-primary);
          background-image: url("/assets/images/icons/arrow-r-perpule.svg");
        }
      }
    }

    #simple-transfer-info {
      margin-top: 5rem;

      ul {
        line-height: 2rem;
        list-style-type: none;
        padding: 0;
        margin: 2rem 0;

        li {
          img {
            margin-right: 0.5rem;
          }
        }
      }
    }

    #receive-payment-info {
      margin-top: 5rem;

      #bank-details-wrapper {
        img {
          border: solid 1px var(--clr-bg-secondry);
          background-color: var(--clr-bg-secondry);
          padding: 1rem;
          border-radius: 8px;
        }

        p {
          padding-top: 1rem;
        }
      }
    }
  }

  #clients-testimonials {
    background-color: var(--clr-bg-secondry);
    padding-top: 4rem;
    padding-bottom: 4rem;

    h2 {
      margin-right: 3rem;
      font-size: 40px;
    }

    .testimonial-card {
      background-color: white;
      padding: 3rem 1.5rem 2rem 1.5rem;
      border: none;
      border-radius: 8px;
      position: relative;
      background-color: var(--clr-bg-card);

      .quote-img {
        position: absolute;
        padding: 0.5rem 0.75rem;
        left: 1.5rem;
        top: -1.75rem;
        background-color: var(--clr-primary);
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .rating {
        .star {
          height: 16px;
          width: 16px;
          display: inline-block;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;

          &.filled {
            background-image: url(/assets/images/icons/star-filled.svg);
          }
          &.unfilled {
            background-image: url(/assets/images/icons/star-unfilled.svg);
          }
        }
      }

      p {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 18px;
        color: var(--clr-text-body);
      }

      .name {
        color: var(--clr-text-card-name);
        font-size: 16px;
        font-weight: bold;
      }

      .small-text {
        color: var(--clr-gray-600);
        font-size: 14px;
      }
    }
  }

  #FAQ-section {
    padding-top: 3rem;
    padding-bottom: 2rem;

    .accordion-item {
      background-color: var(--clr-bg-accordion);
      border-color: var(--clr-border-gray);

      button {
        font-size: 16px;
        font-weight: 600;
        color: var(--clr-accordion-item-heading);
        background-color: var(--clr-bg-accordion);
      }

      .accordion-button {
        color: var(--clr-accordion-item-heading);

        &:not(.collapsed) {
          background-color: var(--clr-bg-accordion);
          box-shadow: none;
          border-bottom: 1px solid var(--clr-border-gray);

          &:after {
            box-shadow: 0 8px 16px 0 rgba(99, 102, 241, 0.19),
              0 6px 20px 0 rgba(99, 102, 241, 0.19);
            background-color: var(--clr-primary);
            background-image: url("/assets/images/icons/chevron.svg");
            transform: rotate(0deg);
          }

          @media (min-width: $tablet-size) {
            box-shadow: none;
          }
        }

        &:after {
          background-color: var(--clr-bg-accordion-btn-chevron-down);
          padding: 1.25rem;
          border-radius: 50%;
          background-position: center;
          background-image: url("/assets/images/icons/chevron-dark.svg");
          transform: rotate(180deg);
        }

        @media (min-width: $tablet-size) {
          border-radius: var(--bs-border-radius);
        }
      }

      .accordion-body {
        color: var(--clr-text-body);
        font-size: 14px;
      }

      @media (min-width: $tablet-size) {
        border: none;
        box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-radius: var(--bs-border-radius);
      }
    }

    .contact-us-wrapper {
      border: 1px solid var(--clr-border-gray);
      border-radius: 8px;
      padding: 2rem 1.5rem;

      img {
        margin-bottom: 1rem;
      }

      .btn-border-none {
        padding-left: 0;
        background-size: 15%;
        padding-right: 2rem;
        background-position: right;
        background-repeat: no-repeat;

        &.right {
          color: var(--clr-contact-us);
          background-image: url(/assets/images/icons/arrow-r-green.svg);
        }

        &.left {
          color: var(--clr-primary);
          background-image: url(/assets/images/icons/arrow-r-perpule.svg);
        }
      }
    }
  }

  .subscription {
    background-color: var(--clr-bg-secondry);
    border: none;
    border-radius: 8px;

    @media (min-width: $tablet-size) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .subscription-form {
      width: 100%;

      .input-wrapper {
        .email {
          padding-left: 3rem;
          background-image: url("/assets/images/icons/envelop.svg");
          background-repeat: no-repeat;
          background-position: 15px center;
          background-size: 1.5rem;
          font-size: 16px;
          border-color: var(--clr-border-gray);
          background-color: var(--clr-white);
          height: 52px;

          &.is-invalid {
            border-color: firebrick;
          }

          &::placeholder {
            color: var(--clr-text-lightest);
          }

          @media (min-width: $desktop-size) {
            background-color: var(--clr-bg-light);
            color: var(--clr-text-body);
          }
        }

        .btn-disabled {
          background-color: var(--clr-primary);
        }

        button:not(:disabled),
        [type="button"]:not(:disabled) {
          border: none;

          &:hover {
            color: var(--clr-primary);
            background-color: white;
            border: 1px solid var(--clr-primary);
          }
        }

        &.input-group:not(.has-validation)
          > button:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
            .form-floating
          ) {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }

    h4 {
      @media (min-width: $desktop-size) {
        & {
          font-size: 24px;
        }
      }
    }
  }

  footer {
    .small-text {
      color: var(--clr-gray-600);
    }
  }
}
